@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marhey:wght@700&display=swap");

html {
	font-family: "Nunito Sans", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
} //font-family: 'Marhey', cursive;

body {
	margin: 0;
}
